#root {
  width: 100%;
  padding: 50px;
  font-size: 1.5em;
}

.highlight,
.selected {
  background-color: aqua;
}

.row-height {
  height: 70px;
}

.rounded-card {
  border-radius: 25px;
}

.rounded-header {
  border-radius: 25px 25px 0 0;
}

.rounded-list {
  border-radius: 0 0 25px 25px;
}

.rounded-item {
  border-radius: 25px;
}